* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.time {
    font-size: 60px;
    text-align: center;
}

button {
    font-size: 45px;
    margin: 30px;
    padding: 20px;
}